#DJANGO CONFIGURATION
DEBUG = True
SECRET_KEY = django-insecure-@umgd-!2-8py4l0q9sxu1juy3x&d0gosp(t34co_24)()!==zb
ALLOWED_HOSTS = "127.0.0.1 127.0.0.3 127.0.0.13" 

#SSLCOMMERZ CONFIGURATION
SSLCOMMERZ_STORE_ID = yourstoreid464689fsd4646
SSLCOMMERZ_STORE_PASSWORD = yourstorepass54s6df44dff
SSLCOMMERZ_SANDBOX = True

#EMAIL CONFIGURATION
EMAIL_HOST_USER = mailuser@gmail.com
EMAIL_HOST_PASSWORD = mailpassword
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS = True